button.copy_btn {
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    padding-top: 0;
    padding-right: 2px;
    padding-bottom: 0;
    padding-left: 2px;
    width: auto;
    margin-top: -1px;
    height: 20px;
    display: inline-flex;
    margin-left: 4px;
}
